<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.cordova_app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloCordova</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />

    <!-- http://example.com 도메인의 웹뷰연결 허용 -->
    <allow-navigation href="http://example.com/*" />

    <!-- 와일드카드 * 을 이용하여 http / https 같은 프로토콜과 호스트도 모두 허용할 수 있습니다. -->
    <allow-navigation href="*://*.example.com/*" />

    <!-- 또한 모든 타입을 허용할 수도 있습니다.-->
    <allow-navigation href="*" />
    
    <!-- 모든 웹페이지를 시스템 프라우저로 오픈합니다. -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- http 프로토콜의 example.com의 도메인을 허용합니다. -->
    <allow-intent href="http://example.com/*" />

    <!-- 모든 프로토콜과 모든 호스트 example.com 도메인을 허용합니다. -->
    <allow-intent href="*://*.example.com/*" />

    <!-- 구글의 http / https 를 허용합니다. -->
    <allow-intent href="http://google.com" />
    <allow-intent href="https://google.com" />

     <!-- 모든 요청을 허용합니다. -->
    <allow-intent href="*" />

    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <edit-config xmlns:android="http://schemas.android.com/apk/res/android" file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
        <application android:usesCleartextTraffic="true" />
    </edit-config>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
